/*
* {
    border: 1px solid red !important;
}
*/

caption {
    padding: 10px;
    caption-side: bottom;
    text-align: left;
    font-size: medium;
}

figcaption {
    padding: 10px;
    caption-side: bottom;
    text-align: left;
    font-size: medium;
}

body {
    counter-reset: figures;
    counter-reset: tables;
  }


figcaption::before {
      counter-increment: figures;
      content: "Figure " counter(figures) ": ";
}
  
caption::before {
      counter-increment: tables;
      content: "Table " counter(tables) ": ";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


h1 {
    color: green
}

.divider {
    border-top: 1px solid;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}